<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="table-responsive">
        <table class="table">
            <tr>
                <th colspan="2">Bộ sản phẩm Ruby vàng trắng 14k</th>
            </tr>
            <tr>
                <td>
                    <div class="tdLeft">Mã sản phẩm</div>
                    <div class="tdRight">DQ236598</div>
                </td>
                <td>
                    <div class="tdLeft">Hình dáng đá</div>
                    <div class="tdRight">Tròn</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tdLeft">Chủng loại</div>
                    <div class="tdRight">Sản phẩm theo bộ</div>
                </td>
                <td>
                    <div class="tdLeft">Màu đá chính</div>
                    <div class="tdRight">Đỏ</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tdLeft">Giới tính</div>
                    <div class="tdRight">Nữ</div>
                </td>
                <td>
                    <div class="tdLeft">Giác cắt đá</div>
                    <div class="tdRight">Facet</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tdLeft">Tuổi Vàng</div>
                    <div class="tdRight">14k(585)</div>
                </td>
                <td>
                    <div class="tdLeft">Loại đá phụ</div>
                    <div class="tdRight">ECZ</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tdLeft">Màu chất liệu</div>
                    <div class="tdRight">Màu trắng</div>
                </td>
                <td>
                    <div class="tdLeft">Hình đá phụ</div>
                    <div class="tdRight">Tròn</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tdLeft">Loại Đá Chính</div>
                    <div class="tdRight">Ruby</div>
                </td>
                <td>
                    <div class="tdLeft">Màu đá phụ</div>
                    <div class="tdRight">Trắng</div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>